<div class="grid-margin row">
  <div class="card col-sm-7 h-50">
    <div class="card-body">
      <h4 class="card-title">Tagihan</h4>
      <p class="card-description text-danger">
        Tagihan Untuk :
      </p>
      <form class="">
        <div class="form-group">
          <label for="promo" class=" col-form-label">Invoice</label>
          <div class="">
            <input type="text" class="form-control form-control-lg" id="promo" value="contoh invoice" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="promo" class=" col-form-label">Nama</label>
          <div class="">
            <input type="text" class="form-control form-control-lg" id="promo" placeholder="Nama">
          </div>
        </div>
        <div class="form-group">
          <label class=" col-form-label">Alamat</label>
          <div class="">
            <textarea type="textarea" rows="3" class="form-control form-control-lg" placeholder="Alamat"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card col-sm-4 h-50 ml-md-3 ml-0 mt-3 mt-md-0">
    <div class="card-body">
      <h4 class="card-title">Action</h4>
      <p class="card-description">
        Preview, download, save form
      </p>
      <div class="p-1">
        <button class="btn btn-info w-100 my-2">Save</button>
        <button class="btn btn-info w-100 my-2">Download</button>
        <button class="btn btn-info w-100 my-2">View</button>
      </div>
    </div>
  </div>
</div>
<div class="grid-margin row">
  <div class="card col-sm-7">
    <div class="card-body">
      <h4 class="card-title">Detail Tagihan</h4>
      <p class="card-description text-danger">
        deskripsi dan total tagihan :
      </p>
      <div class="text-md-right text-sm-left my-3">
        <button type="button" class="btn btn-info btn-sm">Tambah Tagihan<i class="mdi mdi-plus-circle-outline ml-1"></i></button>
      </div>
      <form class="row">
        <div class="form-group col-6">
          <div class="">
            <label class="">Deskripsi</label>
            <div class="">
              <textarea type="textarea" rows="2" class="form-control form-control-lg" placeholder="Deskripsi Tagihan"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <div class="">
            <label class="">Total</label>
            <div class="">
              <input type="text" class="form-control form-control-lg" placeholder="Tagihan">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
